/* 清除元素默认的内外边距  */
* {
    margin: 0;
    padding: 0;
}

/* 页面字体大小、颜色、背景色 */
body {
    background-color: #F5F7FA;
    font: 16px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #A6A6A6;
}

/* 超链接标签设置 */
a {
    color: #545C63;
    text-decoration: none;
}

a:hover {
    color: #07111b;
}

/* 去掉列表前面的圆点 */
li {
    list-style: none;
}

/* 让所有斜体不倾斜 */
em,
i {
    font-style: normal;
}

/* 让图片没有边框，去掉图片底侧的空白缝隙 */
img {
    border: 0;
    /*ie6*/
    vertical-align: top;
}

/* 鼠标移到按钮变成小手 */
button {
    cursor: pointer;
}

/* 按钮和表单输入框设置 */
button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    /* 取消轮廓线 */
    outline: none;
}